.ticker-wrap {
  width: 100%;
  max-width: 1400px;
  background: #fff6cc;
  /* border-radius: 12px; */
  min-height: 60px;
  display: flex;
  align-items: center;
  /* gap: 20px; */
}

.border {
  border: 1px solid #f1e3a3;
  height: 100%;
  width: 100%;
  padding-left: 100px;
  display: flex;
  align-items: center;
}

.ticker-label {
  font-weight: 700;
  font-size: 16px;
  min-width: 160px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 6px;
}

.fortis-logo {
  height: 60px;
  width: auto;
  border-top: none;
}

/* Wrapper for the two stock blocks */
.stocks {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -40px;
}

/* Vertical Line perfectly centered */
.sep {
  width: 1px;
  height: 70%;
  background: rgba(0, 0, 0, 0.25);
  align-self: center;
}
